
@model CoverType

create form 
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Create CoverType </h2>
            <hr />
        </div>
        <!--put to waring felid on div title>
        @*<div asp-validation-summary="All"></div>*@
        <!--fore the felid and label Name-->  
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <!-- عمل تحذير الحقول  -->
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        @*//end *@
     
        <button type="submit" class="btn-primary" style="width:150px">Create</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:140px">
            Back to List
        </a>
    </div>
</form>

@section scripts {
<partial name="_ValidationScriptsPartial" />
}